#test{
    height: 2200px;
    width: 1460px;
    background-color: #A6C9CE;
}
#home{
        width: 1460px;
        height: 40px;
        background-color:#edf2f4;
                font-size: 23px;
        text-align: right;
}
#image{
    padding-left: 83px;
}
#start{
    font-size: 25px;
    color: #09025E;
    font-style: italic;
    padding-left: 13px;
}
#short{
    font-size: 30px;
    color: black;
    font-style: italic;
    padding-left: 13px;
    text-decoration: underline;
    text-align: center;
}
table{
    margin-left: 140px;
    width: 80%;
    height: 800px;
    z-index: 2;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    text-align: center;
    background-color: #fafafa;
    font-size: 18px;
    margin-top: 0px;
}
th{
    background-color: #ade8f4;
    text-transform: uppercase;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#list{
    font-size: 25px;
    color: #09025E;
    font-style: italic;
    padding-left: 13px;
}
.btn-button{
    width:75px;
    height: 27px;
    background-color: rgb(2, 189, 2);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   border-radius: 5px;
   text-decoration: none;
   cursor:pointer;
   transition: 0.4s all;
   overflow: hidden;
}
.btn-button:hover{
    background-color:white;
    box-shadow: 0px 2px 10px 5px #97b1bf;
    color:black
}
.btn-button:focus{
    outline:none;
}